# .env.example - generated with dotenvx
ASTRA_DB_API_ENDPOINT=""
ASTRA_DB_APPLICATION_TOKEN=""
TMDB_ACCESS_TOKEN=""
TMDB_API_KEY="" # optional, prefer access token
TMDB_API_URL=""
TURSO_DB_TOKEN=""
TURSO_DB_URL=""
